<!DOCTYPE html>
<html lang="en">
<% include ../layouts/head.ejs %>
<body>
  <% include ../layouts/header.ejs %>

  <main class="main">
    <div class="container">
      <div class="content">
        <div class="posts">
          <% for (var i = 0; i < posts.length; i++) { %>
          <div class="post">
            <a href="/posts/<%= posts[i].url %>"><h3 class="h3"><%= posts[i].title %></h3></a>
            <p><%= posts[i].body %></p>
            <div class="post-footer">
              <div class="author"></div>
              <a class="link">
                Comments
              </a>
            </div>
          </div>
          <% } %>
        </div>
        <div class="pagination">
          <% if (current > 2) { %>
            <a href="/users/<%= _user.login %>/<%= Number(current) - 1 %>" class="nav prev">< Prev</a>
          <% } %>
          <% if (current == 2) { %>
            <a href="/users/<%= _user.login %>" class="nav prev">< Home</a>
          <% } %>
          <% if (pages > 0 && current < pages) { %>
            <a href="/users/<%= _user.login %>/<%= Number(current) + 1 %>" class="nav next">Next ></a>
          <% } %>
        </div>
      </div>
      <% include ../layouts/sidebar.ejs %>
    </div>
  </main>

  <% include ../layouts/footer.ejs %>
</body>
</html>
